*{
	margin: 0;
	padding: 0;

}

body{
	font-family: Optima, sans-serif;
	background-image: url('../images/bgimage.jpg');
	color: #fff;
}

nav ul{
	float: right;
	margin-top: 20px;
}

nav ul li{
	list-style: none;
	display: inline-block;
	border-bottom: 3px;
	padding-bottom: 0px;
	transition: border-bottom 0.3s, padding-bottom 0.3s;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	padding: 20px;

}

nav ul li:hover{
	border-bottom: 3px solid #EEAC1A;
	padding-bottom: 3px;
}

.container{
	float: right;
	margin-top: 200px;
	margin-left: 100px;
	width: 300px;
}

.content h3{
	font-family: Noto Sans, sans-serif;
	color: #EEAC1A;
	font-size: 20px;
	padding-bottom: 3px;
}

.content h1{
	font-size: 50px;
	border-bottom: 2px solid #EEAC1A;
}

.content p{
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size: 23px;
	padding-top: 20px;
}

.content .btn{
	margin-top: 20px;
	background-color: #000;
	font-size: 16px;
	height: 50px;
	width: 115px;
	color: #fff;
	text-align: center;
	border-color: #e23744;
	border-radius: 35px;
	transition:background-color 0.3s, color 0.3s; 
}

.content .btn:hover{
	background-color: #e23744;
	color: #fff;
	cursor: pointer;
	
}

.social-rect{
	width: 45px;
	height: 180px;
	background-color: #EEAC1A;
	position: absolute;
	right: 0;
	top: 0;
	margin-left: 1343px;
	margin-top: 250px;
	transition: width 0.3s;
	overflow: hidden;
	border-radius: 25px;
}


.social-rect #fb{
	padding-left: 8px;
	padding-top: 10px;
	cursor: pointer;
}

.social-rect #tw{
	padding-left: 8px;
	padding-top: 30px;
	cursor: pointer;
}

.social-rect #gt{
	padding-left: 8px;
	padding-top: 30px;
	cursor: pointer;
}

