<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label() }}

        {% if form.name.errors %}
            {{ form.name(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.name(class="form-control") }}
            <small class="form-text text-muted">
                Enter Characters between 5-20.
            </small>
        {% endif %} 
        
    </div>
    <div class="form-group">
        {{ form.email.label() }}
        {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.email(class="form-control") }}
        {% endif %} 
    </div>
    <div class="form-group">
        {{ form.message.label() }}
        {% if form.message.errors %}
            {{ form.message(class="form-control is-invalid", rows="4", cols="50", placeholder="Enter your message...") }}
            <div class="invalid-feedback">
                {% for error in form.message.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.message(class="form-control", rows="4", cols="50", placeholder="Enter your message...") }}
            <small class="form-text text-muted">
                Max Characters 300 only.
            </small>
        {% endif %} 
    </div>          
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info")}}
    </div>
</form>


<!-- <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="Name">Name:</label>
           <input type="email" class="form-control" id="email">
            
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Message: </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="50" placeholder="Ener your message..."></textarea>
            </div>          
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->