<!--  -->

{% extends 'layout.html' %}
{% block content %}
    <div id="about">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top justify-content-end">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#work">work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">contact</a>
            </li>
          </ul>
        </div>
      </nav> <!--End Navigation-->

      <div class="landing">
        <div class="home-wrap">
          <div class="home-inner"></div>
            
        </div>
      </div> <!--End Landing Page-->

      <div class="caption text-center">
        <h1> Paste Rover</h1>
        <h3>A Programmer who is curious enough to <br>try everything but masters none.</h3>
        <a href="#"><button type="button" class="btn btn-outline-light btn-lg">Résumé</button></a>
      </div>
    </div><!--End about section-->

    <!--Start Work Section-->
    <div id="work" class="offset">
      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ url_for('static', filename='img/alien.jpg') }}" class="responsive-img" alt="Alien Invasion">
            <div class="carousel-caption">     
              <div class="flex-pro">
                <h4 class="pro-sub">Classic game remade in our beloved python!❤</h4>
                <h1 class="pro-head">Alien Invasion</h1>
                <a href="https://github.com/thepasterover/alien_invasion" target="_blank">
                  <button type="button" class="btn btn-primary pro-btn">View Code</button>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/books.jpg') }}" class="responsive-img" alt="Book-a-dict">
            <div class="carousel-caption">
              <div class="flex-pro">
                <h4 class="pro-sub">A script to print the meanings of words in the book!</h4>
                <h1 class="pro-head">Book-a-dict</h1>
                <a href="https://github.com/thepasterover/book-a-dict" target="_blank">
                  <button type="button" class="btn btn-primary pro-btn">View Code</button>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/files.jpg') }}" class="responsive-img" alt="File sorter">
            <div class="carousel-caption">
              <div class="flex-pro">
                <h4 class="pro-sub">A script to organise your files efficiently!</h4>
                <h1 class="pro-head">File Organizer</h1>
                <a href="https://github.com/thepasterover/book-a-dict" target="_blank">
                  <button type="button" class="btn btn-primary pro-btn">View Code</button>
                </a>
              </div>
            </div>
          </div>
        </div>

          <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    <!---End work section-->

    <div id="contact" class="offset">
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
        {% endwith %}
      <div class="flex-form">
        <h1> Get in touch?</h1>
        {% include 'form.html' %}
      </div>
    </div>
    <footer class="social-media" id="#contact">
      <div class="flex-social">
        <h6>Boobalan Shettiyar &copy; 2019 </h6>
        <a href="https://github.com/thepasterover" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        <a href="httpcl   s://www.facebook.com/boopalan.shettiyar" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="mailto:boopalanshettiyar78@gmail.com?subject=Lets works together" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
      </div>
    </footer>
{% endblock content %}   

    